.header {
    height: 800px;
    background-image: url("../img/header/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-transform: uppercase;
}

.header a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    margin-top: 42px;
    font-size: 12px;
    transition: color 0.2s;
}

.header a:hover {
    color: #e8c300;
}

.header a:active {
    color: #ba9f0c;
}

.header .header-logo {
    margin-top: 25px;
    margin-right: 10px;
}

.header .nav {
    display: flex;
    justify-content: space-between;
}

.header .nav .nav-first, .header .nav .nav-second {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    max-height: 99px;
}

.header .nav .nav-first a {
    margin-left: 49px;
    margin-right: 43px;
}

.header .nav .nav-second a {
    margin-right: 39px;
    margin-left: 46px;
}

.header .header-main {
    display: flex;
    padding-top: 150px;
    height: 250px;
}

.header .header-main .work-schedule {
    font-size: 12px;
    line-height: 12px;
    transform: rotate(-90deg);
    text-transform: none;
}

.header .header-main .header-middle {
    text-align: center;
    margin-left: 57px;
    margin-top: 1px;
    position: relative;
}

.header .header-main .header-middle .pre-title {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5em;
}

.header .header-main .header-middle .title {
    font-size: 96px;
    line-height: 84px;
    letter-spacing: 3px;
    margin-top: 24px;
    margin-bottom: 63px;
    position: relative;
}

.header .header-main .header-middle .title::after {
    content: "";
    width: 60px;
    height: 5px;
    background-color: #e8c300;
    border-radius: 50px;
    position: absolute;
    top: 111px;
    left: 300px;
}

.header .header-main .social {
    margin-left: 237px;
    margin-top: 14px;
}

.header .header-main .social .social-icon {
    width: 60px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin-bottom: 17px;
    transition: border 0.2s;
    cursor: pointer;
}

.header .header-main .social .social-icon:hover {
    border: 1px solid #e8c300;
}

.header .header-main .social .fb-icon {
    background: url("../img/header/fb-icon.png") no-repeat 50% 50%;
}

.header .header-main .social .tw-icon {
    background: url("../img/header/tw-icon.png") no-repeat 50% 50%;
}

.header .header-main .social .in-icon {
    background: url("../img/header/in-icon.png") no-repeat 50% 50%;
}

.header .outline-btn {
    width: 60px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
    cursor: pointer;
    transition: border 0.2s;
}

.header .outline-btn .scroll-down-btn {
    width: 40px;
    height: 40px;
    background: #fff url("../img/header/button-arrow.png") no-repeat 50% 50%;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 10px;
}

.header .outline-btn:hover {
    border: 1px solid #e8c300;
}

.header .header-middle::before {
    content: "";
    width: 1px;
    height: 699px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: -226px;
    left: -95px;
}

.header .header-middle::after {
    content: "";
    width: 1px;
    height: 699px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: -226px;
    right: -84px;
}

.header .outline-btn::before {
    content: "";
    width: 1px;
    height: 454px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    bottom: 61px;
    left: 29px;
}

.header .outline-btn::after {
    content: "";
    width: 1px;
    height: 82px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 61px;
    left: 29px;
}

.scroll-btn {
    width: 70px;
    height: 70px;
    background-color: #e8c300;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.scroll-btn .scroll-btn-arrow {
    width: 30px;
    height: 30px;
    border-left: 5px solid rgba(0, 0, 0, 0.9);
    border-top: 5px solid rgba(0, 0, 0, 0.9);
    transform: rotate(45deg);
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 26px;
}

.visible {
    visibility: visible;
    opacity: 0.8;
}

.main-block-title {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 29px;
    letter-spacing: 5px;
    position: relative;
}

.main-block-title::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 5px;
    background-color: #e8c300;
    border-radius: 50px;
    top: 59px;
    left: 271px;
}

.main-block-pre-text {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 19px;
}

.main-block {
    height: 675px;
}

.main-block .mini-logo {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5em;
    text-align: center;
    padding-top: 43px;
}

.main-block .main-block-info-left, .main-block .main-block-info-right {
    width: 600px;
    text-align: center;
}

.main-block .main-block-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.main-block .main-block-info-left, .main-block .main-block-border-element-left {
    float: left;
}

.main-block .main-block-info-right, .main-block .main-block-border-element-right {
    float: right;
}

.main-block .main-block-border-element-right, .main-block .main-block-border-element-left {
    width: 210px;
    height: 210px;
    border: 20px solid #e8c300;
    border-radius: 5px;
    position: relative;
}

.main-block .main-block-img {
    z-index: -1;
}

.main-block-second, .main-block-fourth, .main-block-sixth {
    color: rgba(255, 255, 255, 0.9);
}

.main-block-first .main-block-border-element-right {
    margin-top: 213px;
}

.main-block-first .main-block-border-element-right .main-block-img {
    position: absolute;
    bottom: -182px;
    right: 54px;
}

.main-block-first .main-block-info-left {
    margin-top: 214px;
}

.main-block-first .main-block-title {
    margin-left: 63px;
}

.main-block-first .main-block-title::after {
    left: 236px;
}

.main-block-second {
    background-image: url("../img/main/master-chef-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.99;
}

.main-block-second .main-block-border-element-left {
    margin-top: 156px;
}

.main-block-second .main-block-border-element-left .main-block-img {
    position: absolute;
    bottom: -182px;
    left: 43px;
}

.main-block-second .main-block-info-right {
    margin-top: 158px;
    margin-right: 21px;
}

.main-block-third {
    height: 575px;
}

.main-block-third .main-block-border-element-right {
    width: 186px;
    height: 186px;
    margin-top: 224px;
}

.main-block-third .main-block-border-element-right .main-block-img {
    position: absolute;
    bottom: -195px;
    right: 43px;
}

.main-block-third .main-block-info-left {
    margin-top: 160px;
    margin-left: 37px;
}

.main-block-third .main-block-info-left .main-block-title {
    margin-bottom: 35px;
}

.main-block-third .btn-book {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    width: 563px;
    margin-left: 9px;
}

.main-block-third .btn-book:hover {
    background-color: #e8c300;
    border: none;
    color: #ffffff;
}

.main-block-form {
    margin-left: 10px;
}

.main-block-form input, .main-block-form select {
    box-sizing: border-box;
    width: 277px;
    height: 60px;
    background-color: #e5e5e5;
    border-radius: 5px;
    border: none;
    margin: 0 7px 10px 0;
    padding-left: 19px;
    outline: none;
    color: rgba(51, 51, 51, 0.9);
    cursor: text;
}

.main-block-form textarea {
    box-sizing: border-box;
    background-color: #e5e5e5;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 120px;
    margin: 0 7px 4px 0;
    padding-left: 21px;
    padding-top: 18px;
    outline: none;
    color: rgba(51, 51, 51, 0.9);
    cursor: text;
}

.main-block-form textarea::placeholder {
    font-size: 14px;
    line-height: 19px;
    color: rgba(51, 51, 51, 0.5);
}

.main-block-form input::placeholder {
    font-size: 14px;
    line-height: 19px;
    color: rgba(51, 51, 51, 0.5);
}

.main-block-form select {
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../img/main/select-arrow.png");
    background-repeat: no-repeat;
    background-position: 92% 52%;
    font-size: 14px;
    line-height: 19px;
    color: rgba(51, 51, 51, 0.5);
}

.main-block-form input[type=date] {
    color: rgba(51, 51, 51, 0.5);
}

.schedule-phone {
    height: 56px;
    text-align: center;
    padding-top: 45px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.5);
}

.main-block-fourth {
    background-image: url("../img/main/specialty-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.99;
    position: relative;
}

.main-block-fourth .mini-logo {
    margin-left: 12px;
}

.main-block-fourth .main-block-border-element-left {
    width: 212px;
    height: 221px;
    margin-top: 150px;
}

.main-block-fourth .main-block-border-element-left .main-block-img {
    position: absolute;
    bottom: -177px;
    left: 56px;
}

.main-block-fourth .main-block-info-right {
    margin-top: 158px;
    margin-right: 0;
}

.main-block-fourth .slider-container {
    display: flex;
    transform: translate(-1280px);
    transition: transform 1s;
}

.main-block-fourth .slider-container .main-block-slider {
    min-width: 1280px;
}

.main-block-fourth .slider-buttons {
    width: 85px;
    margin: 0 auto;
    margin-top: 148px;
}

.main-block-fourth .slider-buttons .slider-button {
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin-right: 16px;
    display: inline-block;
    cursor: pointer;
}

.main-block-fourth .slider-buttons .slider-button:last-child {
    margin-right: 0;
}

.main-block-fourth .slider-buttons .active {
    background-color: #fff;
}

.menu-text {
    width: 567px;
    text-align: center;
    margin: 0 auto;
    padding-top: 96px;
    margin-bottom: 49px;
}

.menu-text .menu-logo {
    margin-bottom: 39px;
}

.menu-text .main-block-title::after {
    left: 255px;
}

.menu-buttons {
    font-size: 12px;
    text-transform: uppercase;
    width: 840px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #333333;
    margin-bottom: 52px;
}

.menu-buttons span {
    display: inline-block;
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    padding-top: 17px;
    height: 50px;
    width: 120px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.2s;
}

.menu-buttons span:last-child {
    border-right: none;
}

.menu-buttons span:hover {
    color: #ffffff;
    background-color: #e8c300;
    border: none;
}

.menu-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 90px;
    row-gap: 30.5px;
    margin-bottom: 100px;
}

.menu-table .menu-table-element .name-price {
    font-family: 'Oranienbaum', serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    color: #333333;
    letter-spacing: 2.2px;
}

.menu-table .menu-table-element .dish-contents {
    font-size: 12px;
    font-weight: 400;
    color: #333333;
    opacity: 0.6;
}

.main-events {
    background-image: url("../img/main/specialty-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.99;
}

.main-events .mini-logo {
    padding-top: 42px;
}

.main-events .main-block-border-element-left, .main-events .main-block-border-element-right {
    margin-top: 156px;
}

.main-events .main-block-border-element-left .main-block-img-text, .main-events .main-block-border-element-right .main-block-img-text {
    font-family: 'Oranienbaum', serif;
    font-size: 24px;
    line-height: 89px;
    color: #ffffff;
    text-transform: uppercase;
    width: 479px;
    height: 83px;
    background-color: #000000;
    border-radius: 5px 5px 0 0;
    padding-left: 22px;
    box-sizing: border-box;
    letter-spacing: 3px;
}

.main-events .main-block-border-element-left .main-block-img {
    position: absolute;
    top: -184px;
    left: 57px;
}

.main-events .main-block-border-element-left .main-block-img-text {
    transform: rotate(90deg);
    position: absolute;
    top: 62px;
    left: 304px;
}

.main-events .main-block-border-element-right .main-block-img {
    position: absolute;
    top: -184px;
    right: 55px;
}

.main-events .main-block-border-element-right .main-block-img-text {
    transform: rotate(-90deg);
    position: absolute;
    top: 62px;
    right: 302px;
}

.main-events .private-event-contact-info {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    margin-top: 156px;
}

.interior-photos {
    text-align: center;
}

.interior-photos img {
    margin-left: -4px;
}

.interior-photos img:first-child {
    margin-left: 0;
}

.contact-text {
    width: 567px;
    text-align: center;
    margin: 0 auto;
    padding-top: 91px;
    margin-bottom: 49px;
}

.contact-text .main-block-title {
    margin-bottom: 39px;
}

.contact-text .main-block-title::after {
    left: 255px;
}

.contact-form {
    margin: 0;
}

.contact-form input {
    width: 420px;
}

.contact-form input:nth-child(1) {
    margin-right: 8px;
}

.contact-form input:nth-child(2) {
    width: 419px;
    margin-right: 6px;
}

.contact-form input:nth-child(3) {
    width: 419px;
    margin-right: 0;
}

.contact-form .contacts {
    font-size: 12px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.5);
    float: left;
    display: flex;
    width: 594px;
    justify-content: space-between;
    margin-top: 23px;
}

.contact-form .contacts i {
    color: #e8c300;
    font-size: 14px;
    font-weight: 900;
    margin-right: 8px;
}

.contact-form .btn-contact {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    width: 640px;
    margin: 0;
    float: right;
    margin-bottom: 100px;
}

.contact-form .btn-contact:hover {
    background-color: #e8c300;
    border: none;
    color: #ffffff;
}

.map {
    width: 100%;
    height: 475px;
}

.footer {
    background-color: rgba(0, 0, 0, 0.9);
}

.footer .footer-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding-top: 44px;
    padding-bottom: 44px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
