.modal-overlay {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: .2s;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: .25s;
  }
  
  .modal h2 {
    margin-top: 0;
    padding-bottom: 1rem;
  }
  
  .modal form {
    display: flex;
    flex-direction: column;
  }
  
  .modal input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-modal {
    background-color: #e8c300;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-modal:hover {
    background-color: #c2a202;
  }
  
  .btn-toggle, .btn-close {
    background: none;
    border: none;
    color: #554703;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
  }
  
  .btn-toggle:hover, .btn-close:hover {
    color: #c2a202;
  }
  
  .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  